* {
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
}

body {
    background-color: rgb(217, 8, 105);
}

img.lado {
    width: 100px;
    height: auto;
    float: right;
    margin-right: 10px;
}

main {
    background-color: aliceblue;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px black;
}